{% extends 'base.html' %}

{% block 'content' %}
    <h1>Reg</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" value="" class="vTextField" maxlength="50" required="" id="id_username">
        <input type="text" name="password" value="" class="vTextField" maxlength="128" required="" id="id_password">
        <input type="email" name="email" class="vTextField" maxlength="255" required="" id="id_email">
        <button type="submit" class="btn btn-success">Ok</button>
        <span>{{error}}</span>
    </form>
{% endblock %}